<h1>Customer Details Component</h1>

<ul class="list-group">
    <li class="list-group-item">
        <i class="fas fa-id-card"></i><b>Id:</b> {{user.id}}
    </li>
    <li class="list-group-item">
        <i class="fa-solid fa-user"></i><b>Name:</b> {{user.name}}
    </li>
    <li class="list-group-item">
        <i class="fa-solid fa-envelope "></i><b>Email:</b> {{user.email}}
    </li>
    <li class="list-group-item">
        <i class="fa-solid fa-globe"></i> <b>Login Status: </b>
        <b *ngIf="user.login==1">Logged In</b>
        <b *ngIf="user.login==0">Logged OUT</b>
    </li>
</ul>